# Title markdown and how to make it look fancy


You can use Markdown to create visually appealing documentation in your Jupyter Notebook. Here are some tips:

## Titles & Headings

Use `#` for main titles, `##` for subtitles, and so on:

```markdown
# Main Title
## Section Title
### Subsection
```

## Styling Text

- **Bold:** `**bold**` → **bold**
- *Italic:* `*italic*` → *italic*
- `Monospace:` `` `code` `` → `code`

## Lists

- Bullet list:
    - `- Item 1`
    - `- Item 2`
- Numbered list:
    1. `1. First`
    2. `2. Second`

## Blockquotes

> Use `>` for blockquotes.

## Tables

```markdown
| Column 1 | Column 2 |
|----------|----------|
| Value 1  | Value 2  |
```

## Horizontal Line

```
---
```

---

## Example

```markdown
# My Data Analysis Project

**Author:** *Your Name*

---

## Overview

This notebook analyzes sales data from various countries.

> "Data is the new oil."  
> — Clive Humby

| Task         | Status  |
|--------------|---------|
| Data Import  | ✅      |
| Cleaning     | ✅      |
| Analysis     | ⏳      |
```

Use these elements to make your notebook clear and visually appealing!
Now let's start working

In [3]:
import pandas as pd

df=pd.read_csv("orders.csv")

In [ ]:
print(df)

In [ ]:
Here are some tasks you can perform with your DataFrame `df`:

- **Explore data**: View the first/last rows, check column names, data types, and summary statistics.
- **Filter and sort**: Find orders by country, shipped status, category, or date; sort by price, quantity, or date.
- **Group and aggregate**: Calculate total sales by country, category, or shipped status.
- **Create new columns**: Add a "Total" column (`Quantity * Price`), extract year/month from `OrderDate`, etc.
- **Visualize**: Plot sales by category, shipped vs. not shipped, or sales trends over time.
- **Handle missing data**: Check for and fill or drop missing values.
- **Export data**: Save filtered or processed data to CSV or Excel.
- **Advanced analysis**: Find top customers, most popular products, or shipping rates by country.

In [ ]:
df.head() #shows first 5 rows - ctrl+alt+enter for quick run

In [12]:
df.tail()

,OrderID,CustomerName,Product,Category,Quantity,Price,OrderDate,Shipped,Country
35,1036,Emma Thompson,Desk Lamp with USB,Furniture,1,68.0,2024-07-07,No,UK
36,1037,Carlos Santos,Wireless Earbuds,Electronics,1,125.0,2024-07-08,Yes,Portugal
37,1038,Leila Mansouri,Desk Pad,Furniture,1,28.0,2024-07-09,Yes,Iran
38,1039,Daniel Kim,Power Strip,Electronics,2,18.0,2024-07-10,No,South Korea
39,1040,Anna Ivanova,Desk Clock,Furniture,1,35.0,2024-07-11,Yes,Ukraine

Ctrl+enter - run cell
shift+enter - run cell and select/insert below
alt+enter - run sell and insert below

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   OrderID       40 non-null     int64
 1   CustomerName  40 non-null     object
 2   Product       40 non-null     object
 3   Category      40 non-null     object
 4   Quantity      40 non-null     int64
 5   Price         40 non-null     float64
 6   OrderDate     40 non-null     object
 7   Shipped       40 non-null     object
 8   Country       40 non-null     object
dtypes: float64(1), int64(2), object(6)
memory usage: 2.9+ KB

`df.describe()` provides summary statistics for the numerical columns in the DataFrame. It includes:

- **count**: Number of non-null entries
- **mean**: Average value
- **std**: Standard deviation
- **min**: Minimum value
- **25%**: 25th percentile (first quartile)
- **50%**: 50th percentile (median)
- **75%**: 75th percentile (third quartile)
- **max**: Maximum value

This helps you quickly understand the distribution and spread of your data.

In [14]:
df.describe()

           OrderID    Quantity        Price
count    40.000000   40.000000    40.000000
mean   1020.500000    5.450000   106.457500
std      11.690452   15.903475   201.091854
min    1001.000000    1.000000     0.800000
25%    1010.750000    1.000000    18.000000
50%    1020.500000    1.000000    43.500000
75%    1030.250000    2.250000   112.500000
max    1040.000000  100.000000  1200.000000

In [ ]:
df.columns #gives us the column names as a list

Index(['OrderID', 'CustomerName', 'Product', 'Category', 'Quantity', 'Price',
       'OrderDate', 'Shipped', 'Country'],
      dtype='object')

In [21]:
df.index #gives us the range of csv file

RangeIndex(start=0, stop=40, step=1)

### you need head(), tail(), info(), describe(), columns and index commands to analyze the data and start working on it