# Title markdown and how to make it look fancy


You can use Markdown to create visually appealing documentation in your Jupyter Notebook. Here are some tips:

## Titles & Headings

Use `#` for main titles, `##` for subtitles, and so on:

```markdown
# Main Title
## Section Title
### Subsection
```

## Styling Text

- **Bold:** `**bold**` → **bold**
- *Italic:* `*italic*` → *italic*
- `Monospace:` `` `code` `` → `code`

## Lists

- Bullet list:
    - `- Item 1`
    - `- Item 2`
- Numbered list:
    1. `1. First`
    2. `2. Second`

## Blockquotes

> Use `>` for blockquotes.

## Tables

```markdown
| Column 1 | Column 2 |
|----------|----------|
| Value 1  | Value 2  |
```

## Horizontal Line

```
---
```

---

## Example

```markdown
# My Data Analysis Project

**Author:** *Your Name*

---

## Overview

This notebook analyzes sales data from various countries.

> "Data is the new oil."  
> — Clive Humby

| Task         | Status  |
|--------------|---------|
| Data Import  | ✅      |
| Cleaning     | ✅      |
| Analysis     | ⏳      |
```

Use these elements to make your notebook clear and visually appealing!
Now let's start working

In [2]:
import pandas as pd

df=pd.read_csv("orders.csv")

In [3]:
print(df)

    OrderID      CustomerName                Product     Category  Quantity  \
0      1001        John Smith                 Laptop  Electronics         1
1      1002         Sarah Lee             Headphones  Electronics         2
2      1003          Ali Khan           Office Chair    Furniture         1
3      1004        Alice Wong              Desk Lamp    Furniture         3
4      1005     Carlos Mendez               Keyboard  Electronics         2
5      1006      Nora Ibrahim               Notebook   Stationery         5
6      1007       Emily Davis          Standing Desk    Furniture         1
7      1008        James Park                Monitor  Electronics         2
8      1009       Maria Rossi                    Pen   Stationery        10
9      1010  Takeshi Nakamura                  Mouse  Electronics         1
10     1011     Sophie Martin                 Webcam  Electronics         1
11     1012         Raj Patel           File Cabinet    Furniture         2
12     1013       Emma Wilson                Stapler   Stationery         3
13     1014   Diego Rodriguez              USB Drive  Electronics         5
14     1015         Lisa Chen              Bookshelf    Furniture         1
15     1016      Ahmed Hassan          Printer Paper   Stationery        20
16     1017     Anna Kowalski         Wireless Mouse  Electronics         2
17     1018     Michael Brown         Desk Organizer    Furniture         1
18     1019       Yuki Tanaka             Calculator  Electronics         1
19     1020   Fatima Al-Zahra             Whiteboard    Furniture         1
20     1021    David Thompson           Highlighters   Stationery         8
21     1022    Isabella Silva      Bluetooth Speaker  Electronics         1
22     1023    Oliver Schmidt           Office Plant    Furniture         2
23     1024        Zara Ahmed           Sticky Notes   Stationery        15
24     1025    Lucas Anderson           Tablet Stand  Electronics         1
25     1026      Chloe Dubois         Paper Shredder  Electronics         1
26     1027     Miguel Torres         Desk Chair Mat    Furniture         1
27     1028       Nina Petrov           Binder Clips   Stationery        12
28     1029      Seo-yeon Kim      Wireless Keyboard  Electronics         1
29     1030   Giuseppe Romano          Desk Calendar    Furniture         1
30     1031      Amira Hassan                USB Hub  Electronics         1
31     1032     Thomas Müller       Document Scanner  Electronics         1
32     1033   Sofia Rodriguez  Desk Drawer Organizer    Furniture         1
33     1034      Alex Johnson            Index Cards   Stationery       100
34     1035     Yuki Yamamoto          Monitor Stand  Electronics         1
35     1036     Emma Thompson     Desk Lamp with USB    Furniture         1
36     1037     Carlos Santos       Wireless Earbuds  Electronics         1
37     1038    Leila Mansouri               Desk Pad    Furniture         1
38     1039        Daniel Kim            Power Strip  Electronics         2
39     1040      Anna Ivanova             Desk Clock    Furniture         1

     Price   OrderDate Shipped       Country
0   1200.0  2024-06-01     Yes           USA
1    150.0  2024-06-03      No        Canada
2    300.0  2024-06-04     Yes           UAE
3     45.0  2024-06-05     Yes     Singapore
4     80.0  2024-06-06      No        Mexico
5      5.0  2024-06-07     Yes           UAE
6    450.0  2024-06-08     Yes            UK
7    220.0  2024-06-09      No   South Korea
8      1.5  2024-06-10     Yes         Italy
9     35.0  2024-06-11     Yes         Japan
10    85.0  2024-06-12     Yes        France
11   180.0  2024-06-13      No         India
12    12.0  2024-06-14     Yes     Australia
13    25.0  2024-06-15     Yes         Spain
14   280.0  2024-06-16      No         China
15     8.0  2024-06-17     Yes         Egypt
16    45.0  2024-06-18     Yes        Poland
17    65.0  2024-06-19      No           USA
18    15.0  2024-06-20     Yes         Japan
19   120.0  2024-06-21     Yes  Saudi Arabia
20     3.5  2024-06-22      No        Canada
21    95.0  2024-06-23     Yes        Brazil
22    35.0  2024-06-24     Yes       Germany
23     4.0  2024-06-25      No      Pakistan
24    28.0  2024-06-26     Yes        Sweden
25    75.0  2024-06-27     Yes        France
26    22.0  2024-06-28      No     Argentina
27     2.5  2024-06-29     Yes        Russia
28   110.0  2024-06-30     Yes   South Korea
29    18.0  2024-07-01      No         Italy
30    32.0  2024-07-02     Yes       Morocco
31   140.0  2024-07-03     Yes       Germany
32    42.0  2024-07-04      No      Colombia
33     0.8  2024-07-05     Yes           USA
34    55.0  2024-07-06     Yes         Japan
35    68.0  2024-07-07      No            UK
36   125.0  2024-07-08     Yes      Portugal
37    28.0  2024-07-09     Yes          Iran
38    18.0  2024-07-10      No   South Korea
39    35.0  2024-07-11     Yes       Ukraine

###Here are some tasks you can perform with your DataFrame `df`:

- **Explore data**: View the first/last rows, check column names, data types, and summary statistics.
- **Filter and sort**: Find orders by country, shipped status, category, or date; sort by price, quantity, or date.
- **Group and aggregate**: Calculate total sales by country, category, or shipped status.
- **Create new columns**: Add a "Total" column (`Quantity * Price`), extract year/month from `OrderDate`, etc.
- **Visualize**: Plot sales by category, shipped vs. not shipped, or sales trends over time.
- **Handle missing data**: Check for and fill or drop missing values.
- **Export data**: Save filtered or processed data to CSV or Excel.
- **Advanced analysis**: Find top customers, most popular products, or shipping rates by country.

In [ ]:
df.head() #shows first 5 rows - ctrl+alt+enter for quick run

In [ ]:
df.tail()

,OrderID,CustomerName,Product,Category,Quantity,Price,OrderDate,Shipped,Country
35,1036,Emma Thompson,Desk Lamp with USB,Furniture,1,68.0,2024-07-07,No,UK
36,1037,Carlos Santos,Wireless Earbuds,Electronics,1,125.0,2024-07-08,Yes,Portugal
37,1038,Leila Mansouri,Desk Pad,Furniture,1,28.0,2024-07-09,Yes,Iran
38,1039,Daniel Kim,Power Strip,Electronics,2,18.0,2024-07-10,No,South Korea
39,1040,Anna Ivanova,Desk Clock,Furniture,1,35.0,2024-07-11,Yes,Ukraine

Ctrl+enter - run cell
shift+enter - run cell and select/insert below
alt+enter - run sell and insert below

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   OrderID       40 non-null     int64
 1   CustomerName  40 non-null     object
 2   Product       40 non-null     object
 3   Category      40 non-null     object
 4   Quantity      40 non-null     int64
 5   Price         40 non-null     float64
 6   OrderDate     40 non-null     object
 7   Shipped       40 non-null     object
 8   Country       40 non-null     object
dtypes: float64(1), int64(2), object(6)
memory usage: 2.9+ KB

`df.describe()` provides summary statistics for the numerical columns in the DataFrame. It includes:

- **count**: Number of non-null entries
- **mean**: Average value
- **std**: Standard deviation
- **min**: Minimum value
- **25%**: 25th percentile (first quartile)
- **50%**: 50th percentile (median)
- **75%**: 75th percentile (third quartile)
- **max**: Maximum value

This helps you quickly understand the distribution and spread of your data.

In [ ]:
df.describe()

           OrderID    Quantity        Price
count    40.000000   40.000000    40.000000
mean   1020.500000    5.450000   106.457500
std      11.690452   15.903475   201.091854
min    1001.000000    1.000000     0.800000
25%    1010.750000    1.000000    18.000000
50%    1020.500000    1.000000    43.500000
75%    1030.250000    2.250000   112.500000
max    1040.000000  100.000000  1200.000000

In [ ]:
df.columns #gives us the column names as a list

Index(['OrderID', 'CustomerName', 'Product', 'Category', 'Quantity', 'Price',
       'OrderDate', 'Shipped', 'Country'],
      dtype='object')

In [ ]:
df.index #gives us the range of csv file

RangeIndex(start=0, stop=40, step=1)

### you need head(), tail(), info(), describe(), columns and index commands to analyze the data and start working on it

## Indexing by raws and columns

when you analyze the data in the csv or any other files, you might need to print/collect or make some other kind of actions on the data depending on the specifications like raws or columns, so we'll be reviweing this right now.

In [5]:
df.columns

Index(['OrderID', 'CustomerName', 'Product', 'Category', 'Quantity', 'Price',
       'OrderDate', 'Shipped', 'Country'],
      dtype='object')

In [8]:
df["Country"] #returns the series of the column called country

0              USA
1           Canada
2              UAE
3        Singapore
4           Mexico
5              UAE
6               UK
7      South Korea
8            Italy
9            Japan
10          France
11           India
12       Australia
13           Spain
14           China
15           Egypt
16          Poland
17             USA
18           Japan
19    Saudi Arabia
20          Canada
21          Brazil
22         Germany
23        Pakistan
24          Sweden
25          France
26       Argentina
27          Russia
28     South Korea
29           Italy
30         Morocco
31         Germany
32        Colombia
33             USA
34           Japan
35              UK
36        Portugal
37            Iran
38     South Korea
39         Ukraine
Name: Country, dtype: object

In [11]:
len(df["Country"])

40

In [12]:
set(df["Country"])

{'Argentina',
 'Australia',
 'Brazil',
 'Canada',
 'China',
 'Colombia',
 'Egypt',
 'France',
 'Germany',
 'India',
 'Iran',
 'Italy',
 'Japan',
 'Mexico',
 'Morocco',
 'Pakistan',
 'Poland',
 'Portugal',
 'Russia',
 'Saudi Arabia',
 'Singapore',
 'South Korea',
 'Spain',
 'Sweden',
 'UAE',
 'UK',
 'USA',
 'Ukraine'}

In [14]:
list(df["Country"])

['USA',
 'Canada',
 'UAE',
 'Singapore',
 'Mexico',
 'UAE',
 'UK',
 'South Korea',
 'Italy',
 'Japan',
 'France',
 'India',
 'Australia',
 'Spain',
 'China',
 'Egypt',
 'Poland',
 'USA',
 'Japan',
 'Saudi Arabia',
 'Canada',
 'Brazil',
 'Germany',
 'Pakistan',
 'Sweden',
 'France',
 'Argentina',
 'Russia',
 'South Korea',
 'Italy',
 'Morocco',
 'Germany',
 'Colombia',
 'USA',
 'Japan',
 'UK',
 'Portugal',
 'Iran',
 'South Korea',
 'Ukraine']